{# src/OC/PlatformBundle/Resources/views/layout.html.twig #}

{% extends "::layout.html.twig" %}

{% block container %}

    {# On affiche tous les messages flash dont le nom est « info » #}
    {% for message in app.session.flashbag.get('success') %}
    <div class="alert alert-success">
        <p>{{ message }}</p>
    </div>
    {% endfor %}
    

    {# On définit un sous-titre commun à toutes les pages du bundle, par exemple #}
    <h1>Bonjour {% if app.user is not null %}{{ app.user.username }}{% endif %} | Annonces :</h1>

    <hr>

    {# On définit un nouveau bloc, que les vues du bundle pourront remplir #}
    {% block ocplatform_body %}
    {% endblock %}

{% endblock %}